<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Personal portfolio website and blog">
    <meta name="keywords" content="portfolio, self-improvement, learning">
    <meta name="author" content="Nathaniel Shanklin">
    <title>Nathaniel Shanklin | Projects</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
            <h1><span class="highlight">Nathaniel</span> Shanklin</h1>
        </div>
        <nav>
          <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li class="current"><a href="{% url 'blog' %}">Blog</a></li>
            <li><a href="{% url 'learning' %}">Learning</a></li>
            <li><a href="{% url 'project' %}">Project</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section id="main">
      <div class="container">
        <article id="main-col">
          <h1 class="page-title">Blog</h1>
          <div class="blogPost">
            <h2> Wednesday 07/01/2020</h2>
                &nbsp; There are a few exciting things going on for me today. First as you can see here I am getting my blog section of my website up and running and filling it with my very first post. Second all of my parts are in for my ongoing electronic project which I have dubbed the "LED BOX-O-MATIC 3000" and I should have some time today to start prototyping. As part of this project I also want to create a video detailing each step so someone who is also learning electronics can try it themselves. I have had a lot of fun working on it in the planning stage so far and I am excited to see how it all comes together.
          </div>
        </article>
        </aside>
      </div>
    </section>

    <footer>
      <p>Nathaniel Shanklin, Copyright &copy; 2020</p>
    </footer>
    <script type="text/javascript" src="{% static 'main.js' %}"></script>
  </body>
</html>
